@media screen and (max-width:576px) {
    .nav-container{
        box-shadow: none;
    }
    .nav-main{
        flex-direction: column;
    }
    .nav-right{
       flex-direction: column;
    }
    .nav-right button{
        margin-top: 10px;
    }
    /* ___________banner-section____________ */
    .header-main{
        flex-direction: column-reverse;
    }
    .header-left,.header-right{
        width: 80%;
    }
    /* _______________online-section_____________ */
    .online-main{
        grid-template-areas:
        "a"
        "b"
        "c"
        "d";
        max-width: 80%;
    }
    /* ____________play-section___________ */
    .play-main{
      flex-direction: column;
    }
    .play-left{
        width: 100%;
    }
    .play-left h1{
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;

    }
    .play-left p{
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .play-right{
        width: 70%;
    }
    .play-right .biral{
        width: 160px;
        height: 170px;
    }
    /* ____________games-section___________ */
    .games-main{
      flex-direction: column-reverse;
    }
    .games-right{
        width: 100%;
    }
    .games-right h1{
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;

    }
    .games-right p{
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .games-left{
        width: 70%;
    }
    .games-left .biral{
        width: 160px;
        height: 170px;
    }




    .cetegory-child{
       
    }

}